name: Build and Deploy to Bunny Magic Containers

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Docker login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/indiemafastchannel/indiematv:${{ github.sha }}

      - name: Update container image on Magic Containers
        uses: BunnyWay/actions/container-update-image@main
        with:
          app_id: c3xsrGWlR4matkK
          api_key: ${{ secrets.BUNNYNET_API_KEY }}
          container: app
          image_tag: ghcr.io/indiemafastchannel/indiematv:${{ github.sha }}
